/* style.css */
body {
  font-family: sans-serif;
}
a {
  display: inline-block;
  margin: 0em 1em 1em 0;
}
#blwAllDimensionsTarget {
  margin-top: 1em;
}
iframe {
    border: 0 none;
    height: 100%;
    width: 100%;
}
.iframe {
    border-radius: 50%;
    display: inline-block;
    height: 180px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
    width: 180px;
}
.iframe:after {
  background: rgba(255,255,255,.9);
  border-radius: 3px;
  color: #000000;
  content: attr(title);
  display: none;
  font-size: 20px;
  font-family: sans-serif;
  left: 0;
  line-height: 180px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 180px;
}
.iframe:hover:after {
  display: inline-block;
}
