body {
  background: #000000 !important;
  border-radius: 50%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
#rec_time {
  height: 100vh;
  position: relative;
  text-align: center;
  top: 0vh;
  width: 100vw;
}
.gridItem {
  background: #cccccc;
  border: 1px solid #000000;
  display: inline-block;
  height: 8px;
  width: 8px;
}
