/* GLOBAL */
  body {
    background: #000000 !important;
    border-radius: 50%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100vw;
  }
  /* CONSOLE LOG */
    #consoleLog {
      box-sizing: border-box;
      color: #fff;
      font-size: 10vw;
      line-height: 125%;
      height: 100vh;
      left: 0;
      padding-top: 20vw;
      position: absolute;
      text-align: center;
      top: 0;
      white-space: nowrap;
      width: 100vw;
      z-index: 5555;
    }
/* TIME */
  #rec_time {
    height: 100vh;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100vw;
  }
  .circle {
    box-sizing: border-box;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  #secondCircle {
    height: 90%;
    left: 5%;
    top: 5%;
    width: 90%;
    z-index: 20;
    opacity: .4;
  }
  #minuteCircle {
    height: 70%;
    left: 15%;
    top: 15%;
    width: 70%;
    z-index: 30;
    opacity: .7;
  }
  #hourCircle {
    height: 50%;
    left: 25%;
    top: 25%;
    width: 50%;
    z-index: 40;
  }
  .circle .overflow {
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
  }
  .circle .overflow > div {
    box-sizing: border-box;
    height: 100%;
    position: absolute;
    transform-origin: 100% 50%;
    width: 100%;
  }
  .circle .bottom,
  .circle .half {
    /* apparently tizen can't use vw as border-width */
    border: 10px solid #ffffff;
  }
  .circle .bottom {
    border-right: none;
    border-radius: 100% 0% 0% 100% / 50% 0% 0% 50%;
    left: -100%;
    z-index: 100;
  }
  .circle .half {
    border-left: none;
    border-radius: 0% 100% 100% 0% / 0% 50% 50% 0%;
    z-index: 200;
  }
  .circle .top  {
    z-index: 300;
  }
  #minuteCircle .bottom,
  #minuteCircle .half {
    border-width: 6px;
  }
  #secondCircle .bottom,
  #secondCircle .half {
    border-width: 2px;
  }
  /**/
  #rec_time .markerHour {
    background: #333;
    height: 50vh;
    left: 50vw;
    position: absolute;
    text-align: center;
    top: 0vh;
    transform-origin: center bottom;
    width: 2px;
  }
  #rec_time .markerHour:after {
    color: #ffffff;
    display: inline-block;
    font-size: 20vw;
    position: relative;
    z-index: 1999;
    top: -12vw;
  }
  /*Q1*/
  #rec_time .markerHour:after {
    content: " ";
  }
  #rec_time #markerHour1,
  #rec_time #markerHour1:after {
    transform:rotate(30deg);
  }
  #rec_time #markerHour2,
  #rec_time #markerHour2:after {
    transform:rotate(60deg);
  }
  #rec_time #markerHour3,
  #rec_time #markerHour3:after {
    transform:rotate(90deg);
    display: block;
  }
  #rec_time #markerHour4,
  #rec_time #markerHour4:after {
    transform:rotate(120deg);
  }
  #rec_time #markerHour5,
  #rec_time #markerHour5:after {
    transform:rotate(150deg);
  }
  #rec_time #markerHour6,
  #rec_time #markerHour6:after {
    transform:rotate(180deg);
  }
  #rec_time #markerHour7,
  #rec_time #markerHour7:after {
    transform:rotate(210deg);
  }
  #rec_time #markerHour8,
  #rec_time #markerHour8:after {
    transform:rotate(240deg);
  }
  #rec_time #markerHour9,
  #rec_time #markerHour9:after {
    transform:rotate(270deg);
  }
  #rec_time #markerHour10,
  #rec_time #markerHour10:after {
    transform:rotate(300deg);
  }
  #rec_time #markerHour11,
  #rec_time #markerHour11:after {
    transform:rotate(330deg);
  }
/* HIDE */
  #str_console,
  #str_ampm,
  #str_day,
  #rec_string_time {
    display: none !important;
  }
